* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 1rem;
    background-color: #44B78B;
    color: white;
    font-size: 1.5rem;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
table {
    margin: 50px 0px;
    max-width: 90%;
}

table caption {
    padding: 20px 0px;
}

table tbody td, table th {
    padding: 10px;
    max-width: 400px;
    background-color: rgba(72, 115, 255, 0.4156862745);
}

table tfoot td {
    padding: 10px 10px 0px;
}

table tbody td {
    text-align: center;
}
  
a {
    text-decoration: none;
}
  
.fa-solid.fa-pen {
    color: aqua;
}
  
.fa-solid.fa-trash-can {
    color: red;
}
  
.fa-solid.fa-circle-plus {
    color: rgba(47, 255, 47, 0.746);
}
  
p, h2 {
    padding: 10px 0px;
}
  
.container-book {
    padding: 20px;
}

.container-book a {
    margin: 10px 0px 0px -5px;
    padding: 5px 5px;
    background-color: #4897ff;
    font-weight: 550;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.6705882353);
}

.container-book a:hover {
    color: #ffffff;
    cursor: pointer;
}
  
.button {
    margin: 30px 0px;
}
  
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
input {
    padding: 5px 50px;
    background-color: #4897ff;
    font-weight: 550;
    border-radius: 10px;
    color: rgb(124, 176, 221);
    border: black;
    margin: 10px 0px 0px -5px;
}
